<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <h1>TASKS INFORMATION</h1>
  <hr>
  <a href="addtasksform"><button class="btn btn-success">ADD TASKS</button></a>
  <table class="table table-bordered">
    <tr>
      <th>TASKS  ID</th>
      <th>TASKS  NAME</th>
      <th>TASKS  DESCRIPTION</th>
      <th>ACTIONS</th>
    </tr>
    <tr>
    <tr th:each="product:${records}">
      <td th:text="${product.tasksId}"></td>
      <td th:text="${product.tasksName}"></td>
      <td th:text="${product.tasksDescription}"></td>
      <td>
        <a th:href="@{/updatetaskslist/{id}(id=${product.tasksId})}"><button class="btn btn-primary">UPDATE</button></a>
        <a th:href="@{/deletetasks/{id}(id=${product.tasksId})}"><button class="btn btn-danger">DELETE</button></a>
      </td>
    </tr>

  </table>

</div>

</body>
</html>